@import "./colors.css";

.TodoApp {
	min-height: 400px;
	width: 100%;
	max-width: 350px;
	padding: 20px;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	background: linear-gradient(
		to bottom left,
		var(--drkGrey),
		rgba(219, 66, 36, 0.322)
	);
	border-radius: 5px;
	box-shadow: 1px 1px 2px 1px var(--drkGrey);
	overflow: hidden;
}

.TodoApp__title {
	margin-bottom: 15px;
	letter-spacing: -0.8px;
}

@media screen and (max-width: 500px) {
	.TodoApp {
		margin-inline: 20px;
	}
}
